---

---

<button id="menuButton"  >
    <div>
        <div class="space-y-2">
            <span class="block h-1 w-8 origin-center rounded-full bg-slate-500  transition-transform ease-in-out"></span>
            <span class="block h-1 w-6 ml-auto origin-center rounded-full bg-brandOrange  transition-transform ease-in-out"></span>
        </div>
    </div>
</button>

        

